.header {
  font-size: 12px;
  position: absolute;
  top: 0;
  width: 100%;
}

.heading {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 15%;
}

.parent-list {
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 900px;
}

.active {
  z-index: 2;
  color: #000 !important;
  background-color: white !important;
  border-color: black !important;
}
